@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

@layer base {
    .nav-item {
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }

    .hero-ring {
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
    }
}

@layer utilities {
    .container {
        @apply lg:max-w-5xl
    }
    .scrollbar-thin-elegant {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent; /* Firefox */
  }
  
  /* Untuk Chrome, Edge, & Safari */
  .scrollbar-thin-elegant::-webkit-scrollbar {
    width: 6px; /* Lebar scrollbar */
  }
  
  .scrollbar-thin-elegant::-webkit-scrollbar-track {
    background: transparent; /* Background track transparan */
    margin-block: 1rem; /* Memberi jarak sedikit di atas/bawah track */
  }
  
  .scrollbar-thin-elegant::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); /* Warna thumb redup */
    border-radius: 9999px; /* Rounded full */
  }

  .scrollbar-thin-elegant::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Lebih terang saat dihover */
  }
}